<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="footer-sections ">
      <div class="footer-section contact">
        <h3>Project met steun van</h3>
        <img alt="logo vlaio" src="images/CombinatielogoVLAIO_antraciet.svg" />
      </div>

      <div class="footer-section be-informed">
        <h3>
          Website gemaakt met 💙 door
          <a href="https://www.digipolis.be/">Digipolis</a>
        </h3>
        <p>
          Bron Code onder GPL3 Licentie op
          <a href="https://github.com/lab9k/Museum-of-Things-for-the-People"
            >Github</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
